.div{
    margin: 30px auto;
    background: skyblue;
    box-shadow: 5px 5px 5px rosybrown;
  }
  .div input{
      width: 260px;
      height: 20px;
  }
  .reg-btn{
      background-color: rgb(91, 91, 233);
      height: 30px;
      width: 200px;
      border: none;
  }